@tailwind base;
@tailwind components;
@tailwind utilities;


.leftMenuDesign{
    @apply mr-2 hover:border hover:border-gray-100 hover:bg-white hover:shadow-lg p-2;
}

body{
    @apply bg-[#eaedef];
}

/* height */
#nprogress .bar {
    height: 4px;
  }
  
  #nprogress .bar {
    background-color: rgb(0, 0, 0) !important;
  }
  
  /* color of progress */
  #nprogress .peg {
    box-shadow: 0 0 10px rgb(0, 0, 0), 0 0 5px rgb(0, 0, 0) !important;
  }
  
  /* spinner */
  #nprogress .spinner {
    display: none;
  }
  